.contentCard {
    width: 100%;
    height: 90%;
    background-color: rgb(3 3 3 / 38%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}


.titleAuth {
    color: #FAEDCD;
    text-align: center;
    margin-bottom: 10px;
}

.form {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.divInputs {
    display: flex;
    flex-direction: column;

}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.submit {
    width: 30%;
    padding: 5px;
    margin: 10px auto;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    background-color: #61DBFB;
    font-weight: 900;
    font-size: 15px;
}

.submit:hover {
    background-color: #40bfe0;
}


.messageError {
    font-size: 15px;
    color: red;
    margin: 0;
    height: 15px;
    visibility: hidden;
    margin-top: 8px;
}

.messageError.visible {
    visibility: visible;
}


.textRegister{
    font-size: 12px;
    color: white;
    font-weight: 400;
}

.textRegister button{
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: white;
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.textRegister button:hover{
    color: #FAEDCD;
    border-bottom: 2px solid #FAEDCD;
}

@media (max-width: 1200px) {
    .card {
        width: 60%;
    }
}

@media (max-width: 750px) {
    .card {
        border-radius: 20px;
        width: 90%;
    }

}

@media (max-width: 450px) {
    .titleHeader {
        font-size: 28px;
    }
}